body {
    background-color: aliceblue;
}

h1 {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 40px;
  color: #080808;
}

h4 {
    text-align: center;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.topnav a{
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}

.topnav a.active{
    background-color: skyblue;
    color: white;

}

.topnav a.deliverable{
    float: right;
}

.topnav a.activedeliverable{
    float: right;
    background-color: skyblue;
    color: white;
}

 h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
}

h1 em {
    font-style: normal;
    font-weight: 600;
}

.title h1 {
    text-align: center;
    font-size:30px; 
    font-weight:300; 
    color:#222; 
    letter-spacing:1px;
    text-transform: uppercase;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.title h1:after,.title h1:before {
    content: " ";
    display: block;
    border-bottom: 1px solid #c50000;
    border-top: 1px solid #c50000;
    height: 5px;
    background-color:#f8f8f8;
}

.deliverablet h1{
    text-align: center;
    font-size:30px; 
    font-weight:300; 
    color:#222; 
    letter-spacing:1px;
    text-transform: uppercase;

    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;
}

.deliverablet h1:after,.deliverablet h1:before{
    content: "";
    display: block;
    border-bottom: 1px solid #c50000;
    border-top: 1px solid #c50000;
    height: 5px;
    background-color: #c50000;
}

.team{
    background-color: skyblue;
    text-align: center;
}

.team p{
    display: inline;
    text-align: center;
    padding: 20px;
}
